.services {
  font-family: "Kameron", serif;
}

.whatido {
  margin-top: 50px;
  min-height: 80dvh;
}
.whatido > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
}
.whatido > .first {
  margin-top: 50px;
}
.whatido > .first > .content {
  padding: 10px;
  font-size: 20px;
  line-height: 35px;
  width: 50%;
  text-align: justify;
}
.serviceimage > img {
  height: 350px;
  width: 100%;
}
.div {
    /* Basic dimensions and centering */
    width: 100%;
    height: 100%;
    padding: 10px;
  
    /* Dark mode colors and gradient */
    background: #000000; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #0f2dee 25%,
      #0a0de3 25%,
      #0459c1 50%,
      #173ae9 50%,
      #035ec7 75%,
      #0466bc 75%,
      #055aed
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
.servicelist > .div > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
  
}
.subservices {
  margin: 20px;
  max-width: 30%;
  min-height: 300px;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(238, 14, 10, 0.8),
    rgba(246, 6, 6, 0.6),
    rgba(255, 24, 3, 0.4)
  );
  box-shadow: 0px 21px 24px -17px rgba(59,59,59,0.75) inset;
-webkit-box-shadow: 0px 21px 24px -17px rgba(59,59,59,0.75) inset;
-moz-box-shadow: 0px 21px 24px -17px rgba(59,59,59,0.75) inset;
}
.subservice {
  padding: 10px;
  font-family: "Irish Grover", serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 21px 24px -17px rgba(59,59,59,0.75) inset;
-webkit-box-shadow: 0px 21px 24px -17px rgba(59,59,59,0.75) inset;
-moz-box-shadow: 0px 21px 24px -17px rgba(59,59,59,0.75) inset;
}
.subservicecontent {
  padding: 5px 20px;
  font-size: 20px;
  text-align: justify;
  
}
.parallax {
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 70px;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
.parallax .scroller {
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}


@media screen and (max-width: 600px) {
  .services {
    font-family: "Kameron", serif;
  }

  .whatido {
    margin-top: 50px;
    min-height: 80dvh;
  }
  .whatido > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .whatido > .first {
    margin-top: 50px;
    justify-content: center;
    gap: 10px;
  }
  .whatido > .first > .content {
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
  }
  .serviceimage > img {
    height: fit-content;
    width: 100%;
  }

  .servicelist > .div > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .specificdomain {
    justify-content: center;
    overflow: scroll;
    max-height:fit-content;
    scrollbar-width:none;
  }

  .subservices {
    margin: 5px;
    max-width: 100%;
    min-height: 250px;
    border-radius: 5px;
  
    background: linear-gradient(
      45deg,
      rgba(237, 15, 11, 0.8),
      rgba(216, 11, 4, 0.6),
      rgba(255, 38, 0, 0.4)
    );
  }
  .subservice {
    padding: 10px;
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
  }
  .subservicecontent {
    padding: 5px 20px;
    font-size: 18px;

  }
  .parallax {
    overflow: hidden;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  .parallax .scroller {
    text-transform: uppercase;
    font-size: 34px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
}

@media screen and (orientation: landscape) {
  .services {
    font-family: "Kameron", serif;
  }

  .whatido {
    margin-top: 20px;
    min-height: 80dvh;
  }
  .whatido > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .whatido > .first {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  }
  .whatido > .first > .content {
    padding: 10px;
    font-size: 15px;
    width: 50%;
  }
  .serviceimage > img {
    height: 160px;
    width: 100%;
  }

  .servicelist > .div > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .subservices {
    margin: 20px;
    max-width: 100%;
    min-height: 300px;
    border-radius: 5px;
    background: linear-gradient(
      45deg,
      rgba(237, 15, 11, 0.8),
      rgba(216, 11, 4, 0.6),
      rgba(255, 38, 0, 0.4)
    );
  }
  .subservice {
    padding: 10px;
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
  }
  .subservicecontent {
    padding: 5px 20px;
    font-size: 20px;

  }
}

@media screen and (min-width: 901px) {
    .services {
  font-family: "Kameron", serif;
}

.whatido {
  margin-top: 50px;
  min-height: 80dvh;
}
.whatido > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
}
.whatido > .first {
  margin-top: 50px;
}
.whatido > .first > .content {
  padding: 10px;
  font-size: 20px;
  line-height: 35px;
  width: 50%;
}
.serviceimage > img {
  height: 350px;
  width: 100%;
}

.servicelist > .div > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
}
.subservices {
  margin: 20px;
  min-height: 300px;
  max-width: 40%;

  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(237, 15, 11, 0.8),
    rgba(216, 11, 4, 0.6),
    rgba(255, 38, 0, 0.4)
  );
}
.subservice {
  padding: 10px;
  font-family: "Irish Grover", serif;
  font-weight: 400;
  font-style: normal;
}
.subservicecontent {
  padding: 5px 20px;
  font-size: 20px;

}
.specificdomain{
  justify-content: center;
}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .services {
    font-family: "Kameron", serif;
  }

  .whatido {
    margin-top: 20px;
    min-height: fit-content;
    padding-bottom: 10px;
  }
  .whatido > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .whatido > .first {
    margin-top: 20px;
  }
  .whatido > .first > .content {
    padding: 10px;
    font-size: 15px;
    width: 50%;
  }
  .serviceimage > img {
    height: 200px;
    width: fit-content;
  }

  .servicelist > .div > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .subservices {
    margin: 10px;
    max-width: 30%;
    min-height: 250px;
    border-radius: 5px;
    background: linear-gradient(
      45deg,
      rgba(237, 15, 11, 0.8),
      rgba(216, 11, 4, 0.6),
      rgba(255, 38, 0, 0.4)
    );
  }
  .subservice {
    padding: 10px;
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
  }
  .subservicecontent {
    padding: 5px 20px;
    font-size: 15px;
  }
  .specificdomain{
    justify-content: center;
  }
}
