.services {
  font-family: "Kameron", serif;
}

.whatido {
  margin-top: 50px;
  min-height: 80dvh;
}
.whatido > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
}
.whatido > .first {
  margin-top: 50px;
}
.whatido > .first > .content {
  padding: 10px;
  font-size: 20px;
  line-height: 35px;
  width: 50%;
  text-align: justify;
}
.serviceimage > img {
  height: 350px;
  width: 100%;
}
.div {
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgba(135, 83, 130, 0.5),
    rgba(121, 95, 121, 0.5)
  );
}
.servicelist > .div > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
}
.subservices {
  margin: 20px;
  max-width: 30%;
  min-height: 300px;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(214, 50, 48, 0.8),
    rgba(235, 69, 17, 0.6),
    rgba(255, 209, 102, 0.4)
  );
}
.subservice {
  padding: 10px;
  font-family: "Irish Grover", serif;
  font-weight: 400;
  font-style: normal;
}
.subservicecontent {
  padding: 5px 20px;
  font-size: 20px;
  text-align: justify;
}
.parallax {
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 70px;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
.parallax .scroller {
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}


@media screen and (max-width: 600px) {
  .services {
    font-family: "Kameron", serif;
  }

  .whatido {
    margin-top: 50px;
    min-height: 80dvh;
  }
  .whatido > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .whatido > .first {
    margin-top: 50px;
    justify-content: center;
    gap: 10px;
  }
  .whatido > .first > .content {
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
  }
  .serviceimage > img {
    height: fit-content;
    width: 100%;
  }
  .div {
    max-height: fit-content;
    padding: 10px;
    background: linear-gradient(
      to bottom,
      rgba(135, 83, 130, 0.5),
      rgba(121, 95, 121, 0.5)
    );
  }
  .servicelist > .div > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .specificdomain {
    justify-content: center;
    overflow: scroll;
    max-height:100vh;
    scrollbar-width:none;
  }
  .subservices {
    margin: 5px;
    max-width: 100%;
    min-height: 250px;
    border-radius: 5px;
    background: linear-gradient(
      45deg,
      rgba(214, 50, 48, 0.8),
      rgba(235, 69, 17, 0.6),
      rgba(255, 209, 102, 0.4)
    );
  }
  .subservice {
    padding: 10px;
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
  }
  .subservicecontent {
    padding: 5px 20px;
    font-size: 18px;

  }
  .parallax {
    overflow: hidden;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  .parallax .scroller {
    text-transform: uppercase;
    font-size: 34px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
}

@media screen and (orientation: landscape) {
  .services {
    font-family: "Kameron", serif;
  }

  .whatido {
    margin-top: 20px;
    min-height: 80dvh;
  }
  .whatido > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .whatido > .first {
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  }
  .whatido > .first > .content {
    padding: 10px;
    font-size: 15px;
    width: 50%;
  }
  .serviceimage > img {
    height: 160px;
    width: 100%;
  }
  .div {
    padding: 10px;
    background: linear-gradient(
      to bottom,
      rgba(135, 83, 130, 0.5),
      rgba(121, 95, 121, 0.5)
    );
  }
  .servicelist > .div > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .subservices {
    margin: 20px;
    max-width: 100%;
    min-height: 300px;
    border-radius: 5px;
    background: linear-gradient(
      45deg,
      rgba(214, 50, 48, 0.8),
      rgba(235, 69, 17, 0.6),
      rgba(255, 209, 102, 0.4)
    );
  }
  .subservice {
    padding: 10px;
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
  }
  .subservicecontent {
    padding: 5px 20px;
    font-size: 20px;

  }
}

@media screen and (min-width: 901px) {
    .services {
  font-family: "Kameron", serif;
}

.whatido {
  margin-top: 50px;
  min-height: 80dvh;
}
.whatido > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
}
.whatido > .first {
  margin-top: 50px;
}
.whatido > .first > .content {
  padding: 10px;
  font-size: 20px;
  line-height: 35px;
  width: 50%;
}
.serviceimage > img {
  height: 350px;
  width: 100%;
}
.div {
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgba(135, 83, 130, 0.5),
    rgba(121, 95, 121, 0.5)
  );
}
.servicelist > .div > .heading {
  text-align: start;
  font-family: "Zen Dots", serif;
  font-weight: 400;
  font-style: normal;
  color: #c65c16;
  text-shadow: 3px 3px 2px orange;
}
.subservices {
  margin: 20px;
  min-height: 300px;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(214, 50, 48, 0.8),
    rgba(235, 69, 17, 0.6),
    rgba(255, 209, 102, 0.4)
  );
}
.subservice {
  padding: 10px;
  font-family: "Irish Grover", serif;
  font-weight: 400;
  font-style: normal;
}
.subservicecontent {
  padding: 5px 20px;
  font-size: 20px;

}
.specificdomain{
  justify-content: center;
}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .services {
    font-family: "Kameron", serif;
  }

  .whatido {
    margin-top: 20px;
    min-height: fit-content;
    padding-bottom: 10px;
  }
  .whatido > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .whatido > .first {
    margin-top: 20px;
  }
  .whatido > .first > .content {
    padding: 10px;
    font-size: 15px;
    width: 50%;
  }
  .serviceimage > img {
    height: 200px;
    width: fit-content;
  }
  .div {
    padding: 10px;
    background: linear-gradient(
      to bottom,
      rgba(135, 83, 130, 0.5),
      rgba(121, 95, 121, 0.5)
    );
  }
  .servicelist > .div > .heading {
    text-align: start;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color: #c65c16;
    text-shadow: 3px 3px 2px orange;
  }
  .subservices {
    margin: 10px;
    max-width: 30%;
    min-height: 250px;
    border-radius: 5px;
    background: linear-gradient(
      45deg,
      rgba(214, 50, 48, 0.8),
      rgba(235, 69, 17, 0.6),
      rgba(255, 209, 102, 0.4)
    );
  }
  .subservice {
    padding: 10px;
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal;
  }
  .subservicecontent {
    padding: 5px 20px;
    font-size: 15px;
  }
  .specificdomain{
    justify-content: center;
  }
}
