:root {
  --nav-background-color: rgba(0, 0, 0, 0.53);
  --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --backdrop-filter: blur(6.8px);
  --webkit-filter: blur(6.8px);
  --primary: rgb(255, 255, 255);
}
[dark-theme="dark"] {
  --nav-background-color: rgba(0, 0, 0, 0.53);
  --box-shadow: 0 4px 30px rgba(255, 252, 252, 0.1);
  --backdrop-filter: blur(6.8px);
  --webkit-filter: blur(6.8px);
  --primary: rgb(255, 255, 255);
}
[dark-theme="light"] {
  --nav-background-color: rgba(255, 255, 255, 0.8);
  --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  --backdrop-filter: blur(6.8px);
  --webkit-filter: blur(6.8px);
  --primary: rgb(0, 0, 0);
}
nav {
  /* From https://css.glass */
  background: var(--nav-background-color);
  border-radius: 0px 0px 10px 10px;
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--webkit-filter);
  z-index: 999;
}
nav > .ddc {
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
}
nav > .navitem {
  color: var(--primary);
  font-family: "Kode Mono", serif;
}

.checkbox {
  opacity: 0;
  position: absolute;
}




@media screen and (max-width: 600px) {
  nav {
    /* From https://css.glass */
    background: var(--nav-background-color);
    border-radius: 0px 0px 10px 10px;
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--webkit-filter);
    z-index: 999;
  }
  nav > .ddc {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
  }
  nav > .navitem {
    font-size: 13px;
    color: var(--primary);
    font-family: "Kode Mono", serif;
  }


}
